## Print statement in python

In [1]:
print("Hello world")

Hello world

In [2]:
x = "python"

print(x)

python

In [3]:
name = input("Enter your name: ")  #str  dtypr
print(name)

age = int(input("Please enter your age:  "))
print(age)

Enter your name:  python

python

Please enter your age:   25

25

In [4]:
print("Hello",name) #print(x,y)

Hello python

In [14]:
print("Hello"+" "+name+", the age is"+" "+str(age))

Hello python, the age is 25

In [15]:
#format()  #help to assign values automatically #no need to bother about type 

print("Hello {}, the age is {}".format(name,age))

Hello python, the age is 25

In [16]:

print("{1} is {0} years old".format(name, age))

25 is python years old

In [17]:
print("Hello {}, the age is {} and {}".format(name,age))

IndexError: Replacement index 2 out of range for positional args tuple

In [20]:
print("Hello {0}, the age is {1} and {1}".format(name,age))

Hello python, the age is 25 and 25

In [21]:
print("Hello {0}, the age is {1} and {}".format(name,age))

ValueError: cannot switch from manual field specification to automatic field numbering

In [ ]:
## standard way of using print statement

#format - {}
#print("{} is {} year old".format(name,age))

#print("{0} is {1} year old".format(name,age))

In [22]:
#\n - new line

str_new = "this is an example \n for your understanding"

print(str_new)

this is an example
 for your understanding

In [24]:
#raw string - r"str"

str_new = r"this is an example \n for your understanding"

print(str_new)

this is an example \n for your understanding

## Identity Operators

In [1]:
"i" == "Hi"  #comparitive operator  # = assignment

False

In [2]:
2 == 1

False

In [3]:
"Hello" == "hello"

False

In [4]:
"hi hello" != "hello hi"

True

In [6]:
#identical operator  ->  is , is not  #output  -bool

a = 10
b = 10

print(a==b)
print(a is b) #a is equal to b # a is nothing but to b

True
True

In [7]:
a = "hello"
b = "hello"

a is not b

False

In [10]:
a = 256
print(id(a))
#print("======================")

b = 256
print(id(b))

print("output of a is b:", a is b)
print("output of a == b:", a ==b)

140731679302408
140731679302408
output of a is b: True
output of a == b: True

In [12]:
# -5 to 256bytes - they'll be stored in same id #python memory location prefixed

# > 256 - python creates individual memomry id for the variables. i.e. if any variable is having value
#own id

a = 257
print("a id", id(a))

b = 257
print("b id", id(b))

print("output of a is b:", a is b)  #not only the value, but the id should be the same
print("output of a == b", a == b) #verify the only values of two variables

a id 2702836627888
b id 2702836627504
output of a is b: False
output of a == b True

In [8]:
#Membership operators # in, not in  #output  - bool

list1 = [1,2,3,"Hi","hello"]
str1 = "excelr solution"

In [2]:
1 in list1

True

In [3]:
4 in list1

False

In [4]:
"Hi" in [1,2,3,"Hi","hello"]

True

In [5]:
"Hello" not in list1

True

In [6]:
"excelr" in str1

True

In [9]:
dict1 = {"Name":"python","Course":"selenium"}

In [10]:
dict1

{'Name': 'python', 'Course': 'selenium'}

In [11]:
dict1.keys()

dict_keys(['Name', 'Course'])

In [12]:
dict1.values()

dict_values(['python', 'selenium'])

In [13]:
"Name" in dict1.keys()

True

## Conditional statements

In [23]:
#if condition

#condition - check whether num is positive -> num>0

num = 5

if num>0:
print("{} is positive number".format(num)) #IndentationError

IndentationError: expected an indented block after 'if' statement on line 7 (2781922897.py, line 8)

In [22]:
#if else condition

#condition-1: check num is positive
# condition-else -> print negative

num = -4

if num>0:
    print("positive")
    print("this is 2nd line of if")
else:
    print("negative")

negative

In [2]:
# logical operators - and,or

num = 14

num>10 and num>4

True

In [6]:
num = 4

num>10 or num>3

True

In [8]:
#if elif else condition  #>2 conditions

#checking the maximum value in 3 number

num1 = 10
num2 = 15
num3 = 20
num4 = 25
#condition -1 -> num1 with num2 & num3 -> num1>num2 and num1>num3
#condition -2 -> num2 with num1 & num3 -> num2>num1 and num2>num3
#else condition  -> num3 is biggest


if num1>num2 and num1>num3:
    print ("num1 is the biggest")
elif num2>num1 and num2>num3:
    print("{} is the biggest".format(num2))
else:
    print(num3,"is the biggest")

20 is the biggest

In [16]:
#if condition #single condition

num = 2

if num> 0:
    print("{} is positive".format(num))

2 is positive

In [12]:
 #nested if condition

#an if condition within a if condition

num = int(input("please enter some number: ")) #0

if num>=0:  #here,num can be > 0 (or) num ==0
    if num==0:
        print("zero")
    else:
        print("positive")
else:
    print("negative")

please enter some number:  0

zero

## For loop

In [6]:
#forloop -> looping or iterations (no condition req)
#forloop will run until the last element or last row or the last item


snacks = ['pizza', 'burger','apple']

# print("pizza")
# print("burger")
# print("apple")

#structure - print()

#1st loop -> x = "pizza"
#2nd loop -> x = "burger"
#3rd loop -> x = "apple"
# loops terminates

for x in snacks:
    print(x)

pizza
burger
apple

In [8]:
for x in "python":
    print(x)

p
y
t
h
o
n

In [12]:
#range() -> generate a range of number -> range(lowerlimit, upperlimit(n-1))

list(range(0,10,2)) #gives range object by default

[0, 2, 4, 6, 8]

In [16]:
snacks = ['pizza', 'burger','apple']

# print(snacks[0])
# print(snacks[1])
# print(snacks[2])

#structure -> print(snacks[x])

# 1st loop -> x = 0
# 2nd loop -> x = 1
# 3rd loop -> x = 2
# loops terminates

for x in range(0,3): #0,1,2 
    print(snacks[x])

pizza
burger
apple

In [17]:
len(snacks)

3

In [19]:
snacks = ['pizza', 'burger','apple']

for x in range(0,len(snacks)): #range(0,3) -> #0,1,2 
    print(snacks[x])

pizza
burger
apple

In [7]:
snacks = ['pizza', 'burger','apple']

for x in snacks:
    print(x)

pizza
burger
apple

In [ ]:
#range fn

for x in snacks:
    print(x)

In [22]:
#range fn

for x in range(15,20): #15,16,17,18,19
    print(x)

15
16
17
18
19

In [21]:
snacks = ['pizza', 'burger','apple']

#print(snacks[x])

for x in range(0,len(snacks)): #range(0,3) -> #0,1,2 
    print(snacks[x])

pizza
burger
apple

In [28]:
#finding even and odd numbers

# num%2 == 0 -> even

num = 10 

if num%2==0:
    print("{}".format(num ))
else:
    print("odd", num)

10

In [30]:
#find even and odd number of 0 to 10

for x in range(0,11):
    if x%2 ==0:
        print(x," is even")
    else:
        print(x," is odd")

0  is even
1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

In [24]:
#for loop
#for each item in sequence , last item reached , no - body of loop , yes , exit loop

#Ex : 1

snacks = ['pizza', 'burger','apple']

for x in snacks:
    print("current snack: ", x)
    print("Good day!")

current snack:  pizza
Good day!
current snack:  burger
Good day!
current snack:  apple
Good day!

In [35]:
#nested forloop

# a forloop within a forloop

list1 = ["google","yahoo","facebook"]
list2 = [".org",".com",".in"]

for x in list1:  #main loop #3 times
    for y in list2: #subloop #3 times  i.e #9 times
        print(x,y)
        

#cartesian product

google .org
google .com
google .in
yahoo .org
yahoo .com
yahoo .in
facebook .org
facebook .com
facebook .in

In [31]:
#combinations

list1 = ["google","yahoo","facebook"]
list2 = [".org",".com",".in"]

for x in list1:
    for y in list2:
        print(x + y)

google.org
google.com
google.in
yahoo.org
yahoo.com
yahoo.in
facebook.org
facebook.com
facebook.in

In [40]:
#Nested for Loop

#combination of number

list1 = ["google","yahoo","facebook"]
list2 = [".org",".com",".in"]

for i in range(0,len(list1)): #range(0,3)
    for j in range(0,3): #range(0,3)
        print(i,j) 
        print(list1[i]+list2[j])

0 0
google.org
0 1
google.com
0 2
google.in
1 0
yahoo.org
1 1
yahoo.com
1 2
yahoo.in
2 0
facebook.org
2 1
facebook.com
2 2
facebook.in

In [33]:
# for loop with else:

digits = [0 , 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

## While loop

In [43]:
#while condition is true, then run the functions
#if condition is false -> then terminate the loop

num = 10

while num<11:
    print("hello")

# infinite loop

In [62]:
#counter method  #need to print the values from 5 to 10

num = 5
sum = 0
while num<=10:
    print(num)
    sum = sum + num   #45 as result
    num = num + 1     #num+=1 #counter #ideally, keep the counter step in the last
    # sum = sum + num    #51 as result
print("sum is ", sum)

5
6
7
8
9
10
sum is  45

In [66]:
#counter

i = 0

n = 10 # this will decide the number of loops or iterations

while i <= n: #condition
    print(i)
#add counter to run the loop
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

In [67]:
# while loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [2]:
list(range(1,5+1))

[1, 2, 3, 4, 5]

In [12]:
#finding the factorial of a given number

#-ve - no factorial
#0! = 1 and 1! = 1
#5! = 5*4*3*2*1 = 120  or 1*2*3*4*5 = 120

num = int(input("please enter some int")) #5
val = 1

if num < 0:
    print("no factorial for -ve values")
elif num == 1 or num == 0:
    print("1 is the factorial of {}".format(num))
else:
    for x in range(1,num+1): #1,2,3,4,5
        val = val*x
print(val)

please enter some int 5

120

In [14]:
#Ex:2

#finding the factorial of a value

factorial = 1
num = int(input("number: "))

if num < 0:
    print("please enter some int > 0")

elif num == 0:
    print("factorial = 1")
else:
    for i in range(1, num + 1 ):
        factorial = factorial * i
print("factorial = ", factorial)

number:  5

factorial =  120

## Functions

In [23]:
def say_hello():
    print("Hello")

In [24]:
say_hello()

Hello

In [25]:
say_hello("python")

TypeError: say_hello() takes 0 positional arguments but 1 was given

In [26]:
def say_hello2(name): #here, name is required argument
    print("Hello", name)

In [27]:
say_hello2("python")

Hello python

In [32]:
def say_hello3(name, age = 25): #here, name is mandatory arg, age is default
    print("Hello {}, the age is {}".format(name, age))

In [38]:
say_hello3("python")
say_hello3("python",40)
say_hello3(name = "python",age = 40)
say_hello3(40,"python") #it follow positional indexing

Hello python, the age is 25
Hello python, the age is 40
Hello python, the age is 40
Hello 40, the age is python

In [52]:
#finding the cube 

# num**3

def cub(num):
    val = num**3
    return val # print(val) #return val, val1 -> we can return multiple value

In [53]:
cub(3)

27

In [50]:
def cube_new(num):
    return num**3

In [51]:
cube_new(3)

27

In [54]:
def cube_inp():
    num = int(input("please enter some value"))
    return num**3

In [55]:
cube_inp()

please enter some value 3

27

In [39]:
#defined -defining to python the function

def myfunc():
    print('Hello')

In [40]:
myfunc()

Hello

In [41]:
def myfunc (Name, age = 10):
    print("Hello"+" "+ str(Name)+" "+"age is " + str(age) )

In [43]:
 myfunc ("Shubham")

Hello Shubham age is10

In [44]:
def squares(x):
    val = x**2
    return val

In [45]:
squares(10)

100

## Lambda function

In [ ]:
#syntax -> lambda argumnets : expression

In [1]:
fn = lambda x : x**2 #squares

In [3]:
fn(4)

16

In [2]:
type(fn)

function

In [4]:
lst = ['c++', 'c','python','java','mysql123']
lst

['c++', 'c', 'python', 'java', 'mysql123']

In [5]:
lst.sort(key = lambda x : len(x))   #list.sort(key = len,reverse = False)

In [6]:
lst

['c', 'c++', 'java', 'python', 'mysql123']

In [8]:
x = lambda a,b,c : a + b + c

print(x(5,6,2))

13

In [1]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [5]:
# map() & Filter() -> useful for both lambda & defined functions

#map(func, *iterables)

tup = (5,7,22,97,54,62,77,23,73,61)

#iterables -> list, str, tuple, set, dictionary, dataframe

newtuple = list(map(lambda x : x+3 ,tup)) #will do mapping of the values
 
print(newtuple)

[8, 10, 25, 100, 57, 65, 80, 26, 76, 64]

In [6]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [9]:
#filter(func, Iterables) -> filter object -> indirectly access the values

#filter the even number#list of numbers
num = [12,37,34,26,9,250, 451, 3,10] #filter x%2==0 #number is divisible by 2

#Define lambda function to filter even numbers
even = list(filter(lambda x : (x % 2 == 0), num))

#print the even number
print(even)

[12, 34, 26, 250, 10]

In [12]:
def cub_new(num):
    return num**3

In [13]:
tup = (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)

#iterables -> list, str, tuple, set, dictionary, dataframe

newtuple = list(map(cub_new , tup)) #will do mapping of the values

print(newtuple)

[125, 343, 10648, 912673, 157464, 238328, 456533, 12167, 389017, 226981]

In [14]:
tup = (5,7,22,97,54,62,77,23,73,61)
num = [12, 37, 34, 26, 9, 250, 451, 3, 10]

new_list = list(map(lambda x,y: x+y , tup, num))

print(new_list)

[17, 44, 56, 123, 63, 312, 528, 26, 83]